<html>
  <head>
    <title>BiaPaints Blog</title>
        </head>
    <body>
      <div>
        <h1> Chapter One </h1>
        </div>

        <div>
          <p>published: 22.06.2019, 15:43</P>
            <h2><a href="/">First post </a> </h2>
            <p> Aki a kicsit nem becsuli, a nagyot nem erdemli. </p>
            </div>

            <div>
              <p>published: 22.06.2019, 15:48</P>
                <h3><a href="/">Second post </a> </h3>
                <p> ajandek </p>
                </div>

    </body>
    </html>
